body {
  background: #343a40;
  color: #f1f1f1;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

a {
  color: #007bff;
}

.display-none {
  display: none;
}

button {
  cursor: pointer;
}

header {
  grid-row-start: 2;
  height: 100%;
}

header nav {
  background: #000;
  text-align: center;
  height: 10dvh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 100dvw;
}

main {
  margin-bottom: 11dvh;
}

.nav-link {
  font-size: 1.65rem;
  color: rgb(255, 255, 255, 0.9);
  transition: color 0.1s;
}

.nav-link:hover {
  color: #fff;
}

header nav img {
  width: 50%;
  margin-top: -2rem;
  display: none;
}


dialog {
  width: 90dvw;
  max-width: 60ch;
  background: #303030;
  color: white;
  border: none;
  border-radius: 5px;
  max-height: 85dvh;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.9);
}
.modal-header {
  display: grid;
  grid-template-columns: 90% 10%;
}
.modal-header button {
  background: none;
  font-size: 1.5rem;
  border: none;
  color: red;
  cursor: pointer;
}
.form-group {
  margin: 2em 1em;
}
.form-group label {
  font-size: 1.3rem;
  margin-bottom: 0.5em;
}
.form-group * {
  display: block;
}
.form-group input {
  width: 90%;
  font-size: 1.2rem;
  padding: 0.3em;
}

.form-group textarea {
  font-family: inherit;
  font-size: 1.3rem;
  width: 100%;
  resize: vertical;
}


/* PROFILES */

.profile-header {
  background-color: #303030;
  text-align: center;
  margin-inline: 1em;
  padding: 1.5em;
  padding-bottom: 0.1em;
}

.profile-header h1 {
  font-size: 2.3rem;
  margin: 10px;
  font-weight: 500;
}

.profile-header h2 {
  font-size: 1.8rem;
  margin: 20px;
  font-weight: 500;
}

.profile-header p {
  font-size: 1.3rem;
}

.profile-header span {
  font-size: 1.3rem;
  font-weight: bold;
}

.divider {
  margin-inline: 0.3em;
  user-select: none;
}

p {
  word-wrap: break-word;
  white-space: pre-wrap;
}
p a {
  text-decoration: none;
}
p a:hover {
  text-decoration: underline;
}
.login-signup {
  font-size: 1.3rem;
  background: none;
  border: 1px solid green;
  color: green;
  margin-inline: 0.3em;
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms;
}
.login-signup:hover, .login-signup:focus {
  background: green;
  color: white;
}

.fa-check-circle {
  color: #00bbff;
  font-size: 1.3rem;
}

.pfp {
  border-radius: 50%;
  object-fit: cover;
}

.skip-nav {
  position: fixed;
  top: -300px;
  left: 0;
  z-index: 100;
  background: black;
  padding: 1em;
  font-size: 1.05rem;
  color: white;
  transition: top 300ms;
}

.skip-nav:focus {
  top: 0;
}

@media only screen and (min-width: 800px) {
  body {
    font-size: initial;
  }

  #app {
    display: grid;
    grid-template-columns: 8% 92%;
    grid-template-rows: none;
  }

  header {
    height: 100dvh;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 8%;
  }

  main {
    grid-column-start: 2;
    margin-bottom: 0px;
  }

  header nav {
    flex-direction: column;
    height: 100%;
    width: 8%;
  }

  header nav img {
    display: inline;
  }
}